html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightest);
  color: var(--white);
  font-family: "Rajdhani", sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --lightest: #00b8ff;
  --lighter: #009bd6;
  --medium: #00719c;
  --darker: #00415a;
  --darkest: #001f2b;
  --white: #ffffff;
  --eggshell: #d9d9d9;
}

.name {
  display: inline-flex;
  align-items: end;
  font-size: 150%;
  color: var(--white);
  text-shadow: 1px 2px 5px #0000006a;
  padding-left: 2%;
}

#headshot {
  height: 13vh;
  border: solid 3px var(--darker);
  border-radius: 50%;
  margin-bottom: 0.5%;
}

#banner {
  font-size: 130%;
  padding-left: 2%;
  padding-right: 33%;
}

.banner {
  display: flex;
  font-size: 150%;
  background-color: var(--darkest);
  color: var(--white);
  text-shadow: 2px 4px 5px #0000006a;
  margin-bottom: 2%;
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.button {
  width: 9vw;
  margin-right: auto;
  margin-top: 3%;
  font-size: 80%;
  color: var(--eggshell);
  text-shadow: 1px 2px 5px #0000006a;
  background-color: var(--darkest);
  border: none;
}

.button:hover {
  color: var(--white);
  cursor: pointer;
}

.button:active {
  font-size: 70%;
  color: #ffffffaf;
}

.button:focus {
  outline: none;
  color: var(--white);
}

.section {
  display: flex;
  align-items: flex-start;
}

.section-left {
  width: 10vw;
  height: 15vh;
  border-right: solid 5px var(--darker);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  margin-bottom: 2%;
}

.section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

.section-title {
  color: var(--white);
  text-shadow: 1px 2px 5px #0000006a;
  width: fit-content;
}

.about {
  font-size: 125%;
  width: 80vw;
}

.contact-info {
  font-size: 111%;
  margin: 0.5%;
}

.section-left-contact {
  width: 10vw;
  height: 14.75vh;
  border-right: solid 5px var(--darker);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  margin-bottom: 2%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
}

.card-large {
  background-color: var(--darker);
  background-image: url(assets/WorkoutWizardScreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60.13vw;
  height: 22vh;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.card-large:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 15px var(--eggshell);
}

.card-small-1 {
  background-color: var(--darker);
  background-image: url(assets/RoadTripBuddyScreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 29.5vw;
  height: 19vh;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.card-small-1:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 15px var(--eggshell);
}

.card-small-2 {
  background-color: var(--darker);
  background-image: url(assets/WeatherDashboardScreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 29.5vw;
  height: 19vh;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.card-small-2:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 15px var(--eggshell);
}

.card-small-3 {
  background-color: var(--darker);
  background-image: url(assets/EmployeeTrackerScreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 29.5vw;
  height: 19vh;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.card-small-3:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 15px var(--eggshell);
}

.card-small-4 {
  background-color: var(--darker);
  background-image: url(assets/READMEGeneratorScreenshot.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 29.5vw;
  height: 19vh;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.card-small-4:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 15px var(--eggshell);
}

.section-left-work {
  width: 10vw;
  height: 69vh;
  border-right: solid 5px var(--darker);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  margin-bottom: 2%;
}

.section-title-work {
  color: var(--white);
  text-shadow: 1px 2px 5px #0000006a;
  padding-left: 2%;
}

.socials {
  color: var(--darker);
}

.socials:hover {
  color: var(--white);
  cursor: pointer;
}

.resume-card {
  background-color: var(--darker);
  background-image: url(assets/ResumeScreenshot1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 29.5vh;
  width: 14vw;
  margin: 0.5%;
  border: solid 3px var(--darker);
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

.resume-card:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 15px var(--eggshell);
  }

footer {
  font-size: 120%;
  text-shadow: 2px 4px 5px #0000006a;
  background-color: var(--darkest);
  text-align: center;
  height: 4.5vh;
  padding-top: 1.25%;
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}
