body {
  background-color: var(--lightest);
  color: var(--white);
  font-family: "Rajdhani", sans-serif;
}

:root {
  --lightest: #00b8ff;
  --lighter: #009bd6;
  --medium: #00719c;
  --darker: #00415a;
  --darkest: #001f2b;
  --white: #ffffff;
  --eggshell: #d9d9d9;
}

.name {
  font-size: 150%;
  color: var(--white);
  text-shadow: 1px 2px 5px #0000006a;
  padding-left: 2%;
}

#banner {
  font-size: 130%;
  padding-left: 2%;
  padding-right: 33%;
}

.banner {
  display: flex;
  font-size: 150%;
  background-color: var(--darkest);
  color: var(--white);
  text-shadow: 2px 4px 5px #0000006a;
  margin-bottom: 2%;
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}

button {
  width: 9vw;
  margin-right: auto;
  font-size: 80%;
  color: var(--eggshell);
  text-shadow: 1px 2px 5px #0000006a;
  background-color: var(--darkest);
  border: none;
}

button:hover {
  color: var(--white);
  cursor: pointer;
}

button:active {
  font-size: 70%;
  color: #ffffffaf;
}

button:focus {
  outline: none;
  color: var(--white);
}

.section {
  display: flex;
  align-items: flex-start;
}

.section-left {
  width: 10vw;
  height: 15vh;
  border-right: solid 5px var(--darker);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  margin-bottom: 2%;
}

.section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

.section-title {
  color: var(--white);
  text-shadow: 1px 2px 5px #0000006a;
  width: fit-content;
}

.about {
  font-size: 125%;
  width: 80vw;
}

.contact-info {
  font-size: 111%;
  margin: 0.5%;
}

.section-left-contact {
  width: 10vw;
  height: 14.75vh;
  border-right: solid 5px var(--darker);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  margin-bottom: 2%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
}

.card-large {
    background-color: var(--darker);
    width: 60vw;
    height: 19vh;
    margin: 0.5%;
    border-radius: 8px;
    box-shadow: 0 5px 5px #0000006a;
}

.card-small {
    background-color: var(--darker);
    width: 29.5vw;
    height: 19vh;
    margin: 0.5%;
    border-radius: 8px;
    box-shadow: 0 5px 5px #0000006a;
}

.section-left-work {
    width: 10vw;
    height: 65vh;
    border-right: solid 5px var(--darker);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    margin-bottom: 2%;
  }

footer {
  font-size: 120%;
  text-shadow: 2px 4px 5px #0000006a;
  background-color: var(--darkest);
  text-align: center;
  height: 4.5vh;
  padding-top: 1.25%;
  border-radius: 8px;
  box-shadow: 0 5px 5px #0000006a;
}
